<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificate Verification</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    /** {
      font-family: "Cairo", sans-serif;
    }*/
  </style>
</head>
<body>
<header class="fixed top-0 w-full bg-white z-10">
  <nav class="border-bottom border-2 text-black">
    <div class="container mx-auto px-4 py-4">
      <div class="flex justify-between items-center">
        <a href="/" class="text-black font-bold">
          <img alt="logo" class="h-24" src="https://static.heart.org/ahaecc/ecards/img/cpr-and-ecc-site-logo.png?">
        </a>
        <a href="/settings" class="text-white bg-red-700 rounded-full w-28 text-center p-1 hover:underline">Login</a>
      </div>
    </div>
  </nav>
  <div class="ml-auto text-right p-3 flex md:hidden justify-center items-center">
    <ul class="flex gap-4 text-right ml-auto">
      <li><a href="https://ecards.heart.org/">Find a Class</a></li>
      <li><a href="https://ecards.heart.org/">ShopCPR</a></li>
      <li><a href="https://ecards.heart.org/">DONATE</a></li>
    </ul>
  </div>
</header>

<div class=" mx-auto flex items-center max-sm:mt-36 max-w-3xl  lg:max-w-5xl  justify-center min-h-screen">
  <div class="container h-fit mt-32 md:mt-none  bg-gray-100  mx-auto bg-gray-100 p-4">
    <div class="border-b pb-4">
      <div class="flex justify-between items-center  border-gray-200">
        <h1 class="text-2xl font-semibold text-red-800 flex-none mr-3">Hello, <%= name %></h1>
        <span class="border-t border-1 border-red-700 w-full"></span>
      </div>
      <h2>
        Use the options below to view, share, or edit your eCard. You can also view all your eCards.
      </h2>
    </div>

    <div class="border-2 p-3 shadow-xl pb-10 md:pb-3" style="border-top: #20976c 3px solid;">
      <span class="font-bold pb-2 bg-green-600 w-14 rounded flex justify-center items-center text-sm h-6 pt-2 text-white">Active</span>
      <div class="text-xl font-bold pb-2">Heartsaver® First Aid CPR AED</div>
      <div class="flex md:flex-row flex-col justify-start items-start md:justify-between">
        <div class="md:w-2/3 w-full">
          <div class="text-xs  ">
            <h1 class="font-medium">E-CARD CODE</h1>
            <span class="text-sm text-blue-600 font-semibold"><%= id %></span>
          </div>
          <div class="text-xs  ">
            <h1 class="font-medium">Name</h1>
            <span class="text-sm"><%= name %></span>
          </div>
        </div>
        <div class="grid mr-auto md:ml-24 grid-cols-1 mt-4 md:grid-cols-1 gap-1">
          <div class="text-xs  ">
            <h1 class="font-medium">TRAINING CENTER</h1>
            <span class="text-sm"><%= training_center_name %></span>
          </div>

          <div class="text-xs  ">
            <h1 class="font-medium">INSTRUCTOR</h1>
            <span class="text-sm"><%= instructor_name %></span>
          </div>
          <div class="text-xs  ">
            <h1 class="font-medium">COURSE DATE</h1>
            <span class="text-sm"><%= issued.toDateString() %></span>
          </div>
          <div class="text-xs  ">
            <h1 class="font-medium">RECOMMENDED RENEWAL DATE</h1>
            <span class="text-sm"><%= express.toDateString() %></span>
          </div>
          <form action="/certificates/download/<%= id %>" class="border-t-2 w-full">
            <label class="text-sm font-bold" for="cars">SELECT TO VIEW ECARD</label>
            <select name="type" id="cars" class="w-full border p-1 border-gray-300">
              <option value="certificate">Full Size eCard - English International Version</option>
              <option value="id">Wallet Size eCard - English International Version</option>
              <option value="full">Full + Wallet Size eCard - English International Version</option>
            </select>

            <button type="submit" class="bg-red-800 text-white px-2 text-sm py-1  rounded-sm hover:bg-red-700 mt-4">VIEW</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-gray-300 text-black">
  <div class="container mx-auto px-4 pt-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="col-span-1 flex  md:justify-end  items-start">
        <img src="https://static.heart.org/ahaanywhere/sitecore/dist/images/aha_full.svg" alt="logo" class="mt-1 col-span-1 h-40 max-sm:mx-auto lg:mr-auto lg:ml-auto">
      </div>
      <div class="col-span-1">
        <h3 class="text-xl font-bold mb-4">American Heart</h3>
        <ul class="list-none space-y-2">
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">About Us</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Get Involved</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Our Sites</a></li>
        </ul>
      </div>
      <div class="col-span-1">
        <h3 class="text-xl font-bold mb-4">About the AHAJASA</h3>
        <ul class="list-none space-y-2">
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Donate Now</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">American Stroke Association</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Annual Repon</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">CPA & FOC</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">AMA Financial Information</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Professional Heart Dolly</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Imbernational Programe</a></li>
        </ul>
      </div>
      <div class="col-span-1">
        <h3 class="text-xl font-bold mb-4">Contact Us</h3>
        <address class="not-italic">
          <p>1272 Greenville Ave<br>
            Dulles, THE 75231</p>
        </address>
        <ul class="list-none space-y-2">
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Customer Service: BOO AHA USA 800-242-8721</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Monday-Friday TAM-CST</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Saturday SAM-SPM CST</a></li>
          <li><a href="https://ecards.heart.org/" class="text-gray-700 hover:underline">Closed on Sundays</a></li>
        </ul>
      </div>
    </div>
    <ul class="flex justify-center items-center gap-4  text-white my-4 mt-12 p-4 ">
      <li>
        <a href="https://ecards.heart.org/" class="text-white  bg-gray-400 rounded-full rounded-full px-5 py-4 hover:text-blue-500">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="https://ecards.heart.org/" class="text-white  bg-gray-400 rounded-full rounded-full px-5 py-4 hover:text-blue-500">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://ecards.heart.org/" class="text-white  bg-gray-400 rounded-full rounded-full px-5 py-4 hover:text-blue-500">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://ecards.heart.org/" class="text-white  bg-gray-400 rounded-full rounded-full px-5 py-4 hover:text-blue-500">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://ecards.heart.org/" class="text-white  bg-gray-400 rounded-full rounded-full px-5 py-4 hover:text-blue-500">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://ecards.heart.org/" class="text-white  bg-gray-400 rounded-full rounded-full px-5 py-4 hover:text-blue-500">
          <i class="fab fa-pinterest"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="bg-gray-400 text-center py-2">
    <p class="text-sm max-w-2xl mx-auto">
      ©2024 American Heart Association, Inc. All rights reserved. Unauthorized use prohibited.
      The American Heart Association is a qualified 501(c)(3) tax-exempt organization.
      *Red Dress ™ DHHS, Go Red ™ AHA ; National Wear Red Day® is a registered trademark
    </p>
  </div>
</footer>

</body>
</html>
