<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<div class="py-16">
  <form action="/subscriptions/<%= sub.id %>/checkout" method="post" class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
    <input type="hidden" name="pay_with" id="pay_with" value="">

    <div class="hidden lg:block lg:w-1/2 bg-cover"
         style="background-image:url('https://images.unsplash.com/photo-1546514714-df0ccc50d7bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80')">
    </div>
    <div class="w-full p-8 lg:w-1/2">
      <h2 class="text-2xl font-semibold text-gray-700 text-center">Certificates</h2>
      <p class="text-xl text-gray-600 text-center">Subscribe now!</p>
      <a href="<%= sub.details_link %>" class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
        <div class="px-4 py-3">
          <img width="100" height="100" src="https://img.icons8.com/clouds/100/search-in-list.png" alt="search-in-list"/>


        </div>
        <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">Get Details</h1>
      </a>
      <div class="mt-4 flex items-center justify-between">
        <span class="border-b w-1/5 lg:w-1/4"></span>
        <a href="https://precertificationn.com/no-return-and-refund-policy/" class="text-xs text-center text-gray-500 uppercase hover:text-blue-200">
          with register you agree to our terms and conditions
        </a>
        <span class="border-b w-1/5 lg:w-1/4"></span>
      </div>
      <div class="mt-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
        <input required name="email" id="email" class="bg-gray-200 text-gray-700 text-center focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email" />
      </div>
      <div class="mt-4">
        <div class="flex justify-between">
          <label class="block text-gray-700 text-sm font-bold mb-2">Price</label>
          <a href="https://wa.me/19848333963" class="text-xs text-gray-500">Contact Us?</a>
        </div>
        <input value="<%= sub.price %>$" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none text-center" type="text" disabled />
      </div>
      <div class="mt-4">
        <div class="flex justify-between">
          <label class="block text-gray-700 text-sm font-bold mb-2">Certificate</label>
        </div>
        <input value="<%= sub.name %>" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none text-center" type="text" disabled />
      </div>
      <div class="mt-4">
        <div class="flex justify-between">
          <label class="block text-gray-700 text-sm font-bold mb-2">Certificate Count</label>
        </div>
        <input value="<%= sub.points %>" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none text-center" type="text" disabled />
      </div>
      <% if (sub.instructor_id) { %>
        <div class="mt-4">
          <div class="flex justify-between">
            <label class="block text-gray-700 text-sm font-bold mb-2">Instructor ID</label>
          </div>
          <input required name="instructor_id" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none text-center" type="text" placeholder="Instructor ID"  />
        </div>
      <% } %>

      <% if (sub.instructor_name) { %>
        <div class="mt-4">
          <div class="flex justify-between">
            <label class="block text-gray-700 text-sm font-bold mb-2">Instructor Name</label>
          </div>
          <input required name="instructor_name"  class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none text-center" type="text"  placeholder="Instructor Name" />
        </div>
      <% } %>

      <% if (sub.center_name) { %>
        <div class="mt-4">
          <div class="flex justify-between">
            <label class="block text-gray-700 text-sm font-bold mb-2">Center Name</label>
          </div>
          <input required name="center_name" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none text-center" type="text"   placeholder="Center Name" />
        </div>
      <% } %>




      <div class="mt-8 grid grid-cols-2 gap-4">
        <!-- Checkout Button (Stripe) -->
        <button type="button" class="bg-indigo-400 col-span-2 text-white font-bold py-2 px-4 w-full rounded flex items-center justify-center hover:bg-blue-500" onclick="setPaymentMethod('stripe')">
          Checkout
        </button>

        <!-- Pay with PayPal Button -->
        <button type="button" class="bg-blue-600 text-white font-bold py-2 px-4 w-full rounded flex items-center justify-center hover:bg-blue-500" onclick="setPaymentMethod('paypal')">
          <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.626 3.002c-.247-.005-.592-.005-.839-.005-3.683 0-6.469 1.43-7.727 5.438-.735 2.307-1.465 4.625-2.185 6.937-.073.227-.088.475-.088.712 0 1.068.876 1.914 1.942 1.914h2.289l.522-2.543h.013c.073-.34.298-.498.636-.498h.859c2.44 0 4.538-.952 5.317-3.68.147-.533.195-.976.195-1.458 0-1.888-1.266-3.353-3.034-3.627.046-.276.068-.548.068-.827.001-2.042-1.33-3.717-3.371-3.717zm-1.563 8.748h-.848c-.546 0-.857.226-1.035.772h-1.158c.207-.935.783-1.382 1.563-1.382h.848c.546 0 .857-.226 1.035-.772h1.158c-.207.935-.783 1.382-1.563 1.382zm-1.563-2.448h-.848c-.546 0-.857-.226-1.035-.772h-1.158c.207.935.783 1.382 1.563 1.382h.848c.546 0 .857.226 1.035.772h1.158c-.207-.935-.783-1.382-1.563-1.382z"/>
          </svg>
          Pay with PayPal
        </button>

        <!-- Pay with BTC Button -->
        <button type="button" class="bg-yellow-500 text-white font-bold py-2 px-4 w-full rounded flex items-center justify-center hover:bg-yellow-400" onclick="setPaymentMethod('crypto')">
          <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2h8v8H2V2zm4 6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm6-6h8v8h-8V2zm6 6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-6 6h8v8h-8v-8zm6 6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 12h8v8H2v-8zm4 6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
          </svg>
          Pay with BTC
        </button>
      </div>
      <div>

      </div>
      <div class="mt-4 flex items-center justify-between">
        <span class="border-b w-1/5 md:w-1/4"></span>
        <a href="https://wa.me/19848333963" class="text-xs text-gray-500 uppercase">Contact US</a>
        <span class="border-b w-1/5 md:w-1/4"></span>
      </div>
    </div>
  </form>
</div>
<script>
  function setPaymentMethod(method) {
    // Set the hidden input value
    document.getElementById('pay_with').value = method;
    // Submit the form
    document.querySelector('form').submit();
  }
</script>
</body>
</html>
